.sidenav-container {
  width: 200px;
}
mat-toolbar{
  height: 8vh;
}
mat-sidenav-content{
  min-height: 92vh;
}

.nav-icon svg {
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.user-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
