<h2 mat-dialog-title>{{"change" | translate}} {{"password" | translate}}</h2>

<mat-dialog-content class="pt-2">
  <form [formGroup]="changePasswordForm">


    <mat-form-field *ngIf ="changePasswordForm.contains('currentPassword')" appearance="outline" class="p-2">
      <mat-label>{{'current_password' | translate}}</mat-label>
      <input matInput formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'"/>
      <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{'password_short_error' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="p-2">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"/>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{'password_short_error' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="pt-2">
      <mat-label>{{'confirm' | translate}} {{'password' | translate}}</mat-label>
      <input matInput formControlName="confirmPassword"
             [type]="hideConfirmPassword ? 'password' : 'text'"
             [errorStateMatcher]="confirmValidParentMatcher"/>
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{'password_match_error' | translate}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button mat-flat-button mat-dialog-close="">{{'cancel' | translate}}</button>
  <button mat-flat-button color="primary" [disabled]="changePasswordForm.invalid"
          (click)="changePassword()">{{'change' | translate}} {{'password' | translate}}</button>
</mat-dialog-actions>
