<h2 mat-dialog-title>{{"change" | translate}} {{"password" | translate}}</h2>

<mat-dialog-content class="pt-2">
  <form [formGroup]="changePasswordForm">

    <mat-form-field appearance="outline" class="p-2">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="this.changePasswordForm?.get('password')?.hasError('passwordLength')">password is too short</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="pt-2">
      <mat-label>{{'confirm' | translate}} {{'password' | translate}}</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="this.changePasswordForm?.errors?.['passwordMismatch']">passwords do not match</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button mat-flat-button mat-dialog-close="">{{'cancel' | translate}}</button>
  <button mat-flat-button color="primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">{{'change' | translate}} {{'password' | translate}}</button>
</mat-dialog-actions>
