input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.account-icon {
  display: block;
  font-size: 48px;
  width: 100%;
  height: 100%;
  align-content: center;
}

.login-card {
  width: 350px;
}
