.table-container {
  width: 100%;
  overflow-x: auto;
}

tr.detail-row {
  width: 100%;
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;

}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.mat-column-id {
  flex: none;
  width: 3%;
}

.mat-column-username {
  flex: none;
  width: 15%;
}

.mat-column-seller {
  flex: none;
  width: 15%;
}

.mat-column-details {
  flex: none;
  width: 20%;
}

.mat-column-amount {
  flex: none;
  width: 10%;
}

.mat-column-price {
  flex: none;
  width: 10%;
}

.mat-column-dateCreated {
  flex: none;
  width: 12%;
}

.mat-column-actions {
  flex: none;
  width: 15%;
}

.item-name {
  padding-left: 56px;
  padding-right: 16px;
  width: 25%;
}

.expandable-contents {
  border: 2px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 52px;
  width: 100%;
  background-color: #fafafa;
}

.expandable-row {
  display: flex;
}

.expandable-cell {
  flex-grow: 1;
}

.expandable-cell.id {
  flex-basis: 3%;
}

.expandable-cell.username {
  flex-basis: 15%;
}

.expandable-cell.seller {
  flex-basis: 15%;
}

.expandable-cell.details {
  flex-basis: 20%;
}

.expandable-cell.amount {
  flex-basis: 10%;
}

.expandable-cell.price {
  flex-basis: 10%;
}

.expandable-cell.dateCreated {
  flex-basis: 27%;
}
